@tailwind base;
@tailwind components;
@tailwind utilities;



/* 💳 Flip Card */
.perspective {
  perspective: 1000px;
}

.flip-card {
  position: relative;
  transform-style: preserve-3d;
  transition: transform 0.7s ease;
}

.flip-card.rotate {
  transform: rotateY(180deg);
}

.flip-front,
.flip-back {
  backface-visibility: hidden;
}

.flip-back {
  transform: rotateY(180deg);
}
div:focus {
  outline: none;
}